# STAT 207 Lab Assignment 4 - Group Part - [12 total points] - Solutions

This group lab will also be atypical in that the number of points is larger than the typical 5.

## <u>Case Study</u>: Comparing Movie Ratings based on Famous Actors



### Movie Rating Dataset Information

In the individual and group assignments we will use the data in the `imdb.csv` to pursue our research goals.

Each row in the `imdb.csv` file contains the following information about **POPULAR** `films` as well as `series` listed on IMDB.
* `Name`
* `Date`: the date film/series was released.
* `Rate`: the rating of the film/series
* `Votes`: how many votes this film/series received on IMDB
* `Genre`: a **list** of genres that the film/series is considered to be. Most films/series have multiple genres listed (ex: 'Action, Adventure, Thriller')
* `Duration`: the duration of the film/series
* `Type`: whether the row is a `Film` or `Series`
* `Certificate`: the content rating of the film (ex: 'G', 'PG', 'PG-13', 'R')
* `Nudity`: the amount of nudity in the film/series
* `Violence`: the amount of violence in the film/series
* `Profanity`: the amount of profanity in the film/series
* `Alcohol`: the amount of alcohol in the film/series
* `Frightening`: the amount of frightening content in the film/series

### Movie Actors Dataset Information

In addition, in the group assignments we will use the data in the `ReelView.csv` to pursue our research goals.
Each row in the `ReelView.csv` file contains the following additional information about `films` as well as `series` listed on the ReelView website.

* `title`
* `release_date`
* `director`: the director of the film/series
* `cast`: the list of actors in the film/series




### Group Assignment Goal

In this group assignment you will pick two famous actors and compare the distribution of ratings for films that these actors each apppear in.

<p>&nbsp;</p>
<table style="border: none;border-collapse: collapse;width:102pt;">
    <tbody>
        <tr>
            <td style="color:black;font-size:15px;font-weight:700;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:general;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;width:51pt;">Problem</td>
            <td style="color:black;font-size:15px;font-weight:700;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:general;vertical-align:bottom;border:.5pt solid windowtext;border-left:none;width:51pt;">Points</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">2.1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">2.2</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">2.3</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">2.4</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">2.5</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">2.6</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">2.7</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.2</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.3</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.4</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.5</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">4</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
    </tbody>
</table>

## 1. IMDB Dataset

### 1.1. Reading the csv

1. Read the `imdb.csv` into a dataframe. The strings that are used to represent missing values in this csv file are `No Rate`, `No Votes`, and `None`. Make sure that these values are converted to NaN values when you read the csv file.
2. Show the first 5 rows.
3. Show how many rows this dataframe has.

### 1.2. Missing Value Cleaning

1. First create a dataframe that only contains the the columns that we care about for this pre-analsys: `Name`, `Rate`, `Date`, and `Type`.
2. Then drop all rows with NaN values from this dataframe.
3. How many rows did we drop?

### 1.3. Looking for Duplicate Names

#### 1.3.1. Duplicate Example

Create a dataframe that is only comprised of rows with the Name 'Twin Peaks'.

#### 1.3.2. List of Non-Duplicated Movie Names

Unfortunately, what you'll see in 1.3.1 is that there are multiple 'Twin Peaks' series with the same `Name` (and Date for that matter), but a different set of other values.

It's possible that this series is a **duplicate** and/orrepresents some sort of "entry error" on the part of whoever compiled this dataset. Unfortunately, duplicate or "entry error" rows in a dataframe can complicate our analyses.

To make things easier for our analysis, let's create a list of all movie `Names` in this dataframe that have ONLY ONE ROW in the dataset that corresponds to it.

#### 1.3.3. Dropping Movies with Duplicate Names

Finally, use this `Name` list from 1.3.2 to drop all rows that correspond to a `Name` that had more than one row assigned to it. (Or in other words drop the movies that we considered "duplicates").

How many additional rows did you drop?

## 2. ReelView Dataset

### 2.1. Reading the csv

1. Read the `ReelView.csv` into a dataframe. The strings that are used to represent missing values in this csv file are "". So your pd.read_csv() function should automatically convert these values to NaN without you having to specify that "" is a missing value string.
2. Show the first 5 rows.
3. Show how many rows this dataframe has.

### 2.2. Missing Value Cleaning
1. First create a dataframe that only contains the the columns that we care about for this pre-analsys: `title`, `release_date`, and `cast`.
2. Then drop all rows with NaN values from this dataframe.
3. How many rows did we drop?

### 2.3. Duplicate Name Cleaning

#### 2.3.1. List of Non-Duplicated Movie Names

Create a list of all movie `title`s in this dataframe that have ONLY ONE ROW in the dataset that corresponds to it.

#### 2.3.2. Dropping Movies with Duplicate Names

Finally, use this `title` list from 2.3.1 to drop all rows that correspond to a `title` that had more than one row assigned to it. (Or in other words drop the movies that we considered "duplicates").

How many additional rows did you drop?

## 3. Merging the Two Dataframes

We'd next like to merge these two cleaned dataframes on the `Name` (ie. `title`) of the film/series.

### 3.1. Outer Join Merge

First, it's possible that not every `Name` in the ratings dataframe may have a match to every `title` in the actors dataframe, and vice versa. To help us assess how many movies in each dataframe don't have a match, let's first perform an **outer join** merge of the two dataframes on the `Name` (ie. `title`) of the movie/film.

### 3.2. Rating Dataset `Names` with No Match

First, how many movie `Names` in our ratings dataframe did not have a match with a movie `title` in our actors dataframe?

Hint: The **.isna().sum()** functions might help you.

### 3.3. Actor Dataset `titles` with No Match

Next, how many movie `titles` in our actors dataframe did not have a match with a movie `Name` in our ratings dataframe?

Hint: The **.isna().sum()** functions might help you.

### 3.4. Inner Join Merge

Let's next perform an **inner join** merge of ratings dataframe and the actors dataframe on the `Name` (ie. `title`) of the movie/film.

### 3.5. Rating and Actor Dataset `Name`(`title`) Matches

How many `Name`(`title`) matches were there in the rating and actor dataset?

### 3.6. Representativeness of the Merged Dataset

Would you be comfortable stating that this new joined dataset is *representative* of the ratings of all the POPULAR films/series that were listed in our original `imdb.csv` file? Why or why not?

## 4. Creating Famous Actor Variables

### 4.1. Famous Actor Variable 1: CHOOSE YOUR OWN

Use this merged dataframe from #3.4 to create a new variable that indicates whether or not a famous actor was in the film. You can choose your own famous actor. Make sure that it's an actor in at least one film in this merged dataframe from #3.4.

### 4.2. Famous Actor Variable 2: CHOOSE YOUR OWN

Use this merged dataframe from #3.4 to create a new variable that indicates whether or not a famous actor was in the film. You can choose your own famous actor. Make sure that it's an actor in at least one film in this merged dataframe from #3.4.

### 4.3. Actor Rating Comparison

Create two boxplots.
1. One boxplot should show the ratings distribution of films with your first actor in the cast.
2. One boxplot should show the ratings distribution of films with your second actor in the cast.
3. Does one of these actor's movies have a comparatively much higher distribution of ratings than the other actor? Explain.

### Contribution Report
These contribution reports should be included in all group lab assignments. In this contribution report below you should list of the following:
1. Names of each team member.
2. Contributions of each team member to report.

*For example:*

*<u>Teammates:</u>*

*1. John Smith: did number 1,2 and 3*

*2. Jane Doe: did number 4, and 5*