# STAT 207 Lab Assignment 2 - Group Part - [5 total points]

Due: Tuesday, January 30, 11:59pm CST

<hr>

## <u>Case Study</u>: Learning More about Billionaires Continued

In this case study we will explore a dataset comprised of all the world's billionaires from 2021 https://www.forbes.com/real-time-billionaires/#49c85f6e3d78, this dataset is contained in the attached **billionaire_2021_demographic.csv** file. This file contains the following variables.

* **name** of the billionaire
* **NetWorth_billions**: their networth in billions USD
* **Country**: country that they reside in
* **Source**: the source of their income
* **Rank**: their ranking in the 2021 billionaire list
* **Age**: their age in 2021
* **Industry**: the industry that they derive their wealth from
* **company_founded**: year their company was founded
* **company_relationship**: their relationship to the company
* **company_type**: the type of business this company is
* **demographics_gender**: the gender of the billionaire
* **location_region**: the region of the world this billionaire lives in
* **wealth_type**: the type of billionaire they are
* **wealth_how_category**: A category representing where their money came from.
* **wealth_how_industry**: The specific industry this billionaire profitted from.
* **wealth_how_inherited**: The way that this money was inherited (or not inherited). Inheritance can come from a spouse, the father, or from multiple generations within a family (either 3, 4, or 5+).

*More Info if Interested: Building off the Forbes World’s Billionaires lists from 1996-2014, scholars at Peterson Institute for International Economics have added more variables about each billionaire - including whether they were self-made or inherited their wealth.*

http://www.iie.com/publications/interstitial.cfm?ResearchID=2917


<hr>

## <u>Research Questions</u>:

You should *thoroughly* seek to answer two types of research questions based on this dataset.

**Question 1**: In this analysis you will choose **two categorical variables** that you are interested in (not the names or company names) and determine if there is an association between these two variables for the 2021 billionaires.

**Question 2**: In this analysis you will also choose **a categorical and a numerical variable** that you are interested in (not the names or company names) and determine if there is an association between these two variables for the 2021 billionaires.

### Imports

In [1]:
import pandas as pd

### Contribution Report [0.25 pt]
These contribution reports should be included in all group lab assignments. In this contribution report below you should list of the following:
1. Names of each team member.
2. Contributions of each team member to report.

*For example:*

*<u>Teammates:</u>*

*1. John Smith: did number 1,2 and 3*

*2. Jane Doe: did number 4, and 5*

**insert here**

## 1. Read the csv file [0.25 pt]

Read the `billionaire_2021_demographic.csv` into a dataframe. You can assume that this dataframe has no missing values.

In [3]:
df = pd.read_csv("billionaire_2021_demographic.csv")
df

,name,NetWorth_billions,Country,Source,Rank,Age,Industry,company_founded,company_relationship,company_type,demographics_gender,location_region,wealth_type,wealth_how_category,wealth_how_industry,wealth_how_inherited
0,Jeff Bezos,177.0,United States,Amazon,1,57.0,Technology,1995,founder,new,male,North America,founder non-finance,Non-Traded Sectors,"Retail, Restaurant",not inherited
1,Elon Musk,151.0,United States,"Tesla, SpaceX",2,49.0,Automotive,1999,investor/founder,new,male,North America,founder non-finance,Traded Sectors,Consumer,not inherited
2,Bill Gates,124.0,United States,Microsoft,4,65.0,Technology,1975,founder,new,male,North America,founder non-finance,New Sectors,Technology-Computer,not inherited
3,Mark Zuckerberg,97.0,United States,Facebook,5,36.0,Technology,2004,founder,new,male,North America,founder non-finance,New Sectors,Technology-Computer,not inherited
4,Warren Buffett,96.0,United States,Berkshire Hathaway,6,90.0,Finance & Investments,1839,founder,aquired,male,North America,founder non-finance,Traded Sectors,Consumer,not inherited
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973,Mofatraj Munot,1.0,India,real estate,2674,76.0,Real Estate,1969,founder,new,male,South Asia,self-made finance,Financial,Real Estate,not inherited
974,Jorge Rodriguez Rodriguez,1.0,Peru,processed milk,2674,75.0,Diversified,1967,founder,new,male,Latin America,founder non-finance,Traded Sectors,Consumer,not inherited
975,Alan Rydge,1.0,Australia,entertainment,2674,68.0,Media & Entertainment,1913,relation,new,male,North America,inherited,Non-Traded Sectors,Media,father
976,Surin Upatkoon,1.0,Thailand,"telecom, lotteries, insurance",2674,71.0,Diversified,1983,owner,new,male,East Asia,executive,Non-Traded Sectors,Media,not inherited
977,Murat Vargi,1.0,Turkey,telecom,2674,73.0,Telecom,1993,founder,new,male,Middle East/North Africa,founder non-finance,Non-Traded Sectors,Media,not inherited

## 2. First Research Question [2.25 pt]

Select **two categorical variables** that you are interested in and answer the following questions.

1. `Is there an association between these two categorical variables in this dataset? Explain why or why not.`
2. `Describe the nature of the relationship between these categorical variables in this dataset.`

*Note: Make sure that you thoroughly show the appropriate visualization and calculate the appropriate summary statistics to help you answer these questions. Make sure that you give your plots appropriate titles and axis labels as well!*

*Note: You may choose to only focus on a few types of observations for each of these categorical variables if you'd like.*

In [5]:
cross = pd.crosstab(df["locations_region"], df["demographic_gender"],normalize="index")

KeyError: 'locations_region'

## 2. Second Research Question [2.25 pt]

Select **a categorical variable and a numerical variable** that you are interested in and answer the following question

`Is there an association between these two variables in this dataset? Explain why or why not.`

*Note: Make sure that you give your plots appropriate titles and axis labels as well!*

*Note: You may choose to only focus on a few types of observations for each of these categorical variables if you'd like.*

age & company relationship