# STAT 207 Lab Assignment 3 - Group Part - [9 total points]

This group lab assignment will be atypical in that it is worth 9 points (as opposed to the typical 5).

## <u>Case Study</u>: Association between Two Variables - Controlling for a Third

<p>&nbsp;</p>
<table style="border: none;border-collapse: collapse;width:102pt;">
    <tbody>
        <tr>
            <td style="color:black;font-size:15px;font-weight:700;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:general;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;width:51pt;">Problem</td>
            <td style="color:black;font-size:15px;font-weight:700;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:general;vertical-align:bottom;border:.5pt solid windowtext;border-left:none;width:51pt;">Points</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">2</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">4</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">0.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">5</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">6</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">2</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">7</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">2.5</td>
        </tr>
    </tbody>
</table>

### 1. Coffee Brands Dataset

In this case study we will explore and answer a research question based on the dataset that can be found in the `coffee_top_varieties.csv` file. Each row in this dataset represents a brand of coffee.

Click on this link to learn more about what each of the variables represent. https://corgis-edu.github.io/corgis/csv/coffee/


Then do the following.

1. Read the csv file into a dataframe.
2. Display the first 5 rows.
3. Show the number of rows and columns in the dataframe.

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("coffee_top_varieties.csv")

In [4]:
df

,Location.Country,Location.Region,Location.Altitude.Min,Location.Altitude.Max,Location.Altitude.Average,Year,Data.Owner,Data.Type.Species,Data.Type.Variety,Data.Type.Processing method,...,Data.Scores.Flavor,Data.Scores.Aftertaste,Data.Scores.Acidity,Data.Scores.Body,Data.Scores.Balance,Data.Scores.Uniformity,Data.Scores.Sweetness,Data.Scores.Moisture,Data.Scores.Total,Data.Color
0,Brazil,south of minas,1250,1250,1250,2011,nucoffee,Arabica,Bourbon,Natural / Dry,...,8.50,8.00,8.00,8.00,8.00,10.00,10.00,0.12,86.92,Green
1,Brazil,vale da grama,1300,1300,1300,2011,nucoffee,Arabica,Bourbon,Natural / Dry,...,8.17,8.00,7.75,8.00,8.00,10.00,10.00,0.12,86.42,Green
2,Brazil,south of minas,1250,1250,1250,2011,nucoffee,Arabica,Bourbon,Semi-washed / Semi-pulped,...,8.00,8.00,8.00,7.75,8.00,10.00,10.00,0.11,86.08,Blue-Green
3,Brazil,south of minas,1250,1250,1250,2011,nucoffee,Arabica,Bourbon,Semi-washed / Semi-pulped,...,8.00,8.00,7.67,7.75,8.00,10.00,10.00,0.11,85.42,Blue-Green
4,Brazil,south of minas,1200,1200,1200,2011,nucoffee,Arabica,Bourbon,Natural / Dry,...,7.92,7.75,7.75,8.00,7.75,10.00,10.00,0.11,84.92,Green
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,Guatemala,san marcos,1700,1700,1700,2017,juan luis alvarado romero,Arabica,Bourbon,Washed / Wet,...,7.25,6.92,7.33,7.25,7.33,9.33,10.00,0.10,79.83,Green
578,Guatemala,santa rosa,1219,1219,1219,2017,juan luis alvarado romero,Arabica,Bourbon,Washed / Wet,...,7.42,7.33,7.42,7.50,7.42,8.67,9.33,0.10,79.17,Green
579,Honduras,ocotepeque,1650,1650,1650,2017,janny marlith torres,Arabica,Catuai,Washed / Wet,...,7.00,6.75,6.92,7.00,6.92,10.00,10.00,0.11,79.17,Green
580,Guatemala,san marcos,1700,1700,1700,2017,juan luis alvarado romero,Arabica,Bourbon,Washed / Wet,...,7.67,7.42,7.42,7.67,7.67,8.67,8.67,0.10,79.08,Green
581,Honduras,comayagua,1400,1400,1400,2017,bismarck castro,Arabica,Caturra,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.12,0.00,Green

### 2. Missing Value Cleaning

#### 2.1. Implicit Missing Value Inspection

Do you think that there were any implicit missing value strings in this csv file that we did not account for *in our intended numerical variables*? Or in otherwords, could there be some missing values in our intended numerical variables in the dataframe that are NOT represented as a NaN value?

In [5]:
df.isna().sum()

Location.Country                   0
Location.Region                    1
Location.Altitude.Min              0
Location.Altitude.Max              0
Location.Altitude.Average          0
Year                               0
Data.Owner                         5
Data.Type.Species                  0
Data.Type.Variety                  0
Data.Type.Processing method        6
Data.Production.Number of bags     0
Data.Production.Bag weight         0
Data.Scores.Aroma                  0
Data.Scores.Flavor                 0
Data.Scores.Aftertaste             0
Data.Scores.Acidity                0
Data.Scores.Body                   0
Data.Scores.Balance                0
Data.Scores.Uniformity             0
Data.Scores.Sweetness              0
Data.Scores.Moisture               0
Data.Scores.Total                  0
Data.Color                        35
dtype: int64

### 2.2. Missing Value Cleaning

1. First create a dataframe that is comprised of just the three variables that you would to explore. **Two should be numerical, and one should be categorical.**. 
2. Then drop all rows from this dataframe that have a NaN value.
3. How many rows did you drop?

In [7]:
df1 = df[["Data.Scores.Flavor", "Data.Scores.Sweetness", "Location.Region"]]
df1 = df1.dropna()

In [8]:
df1

     Data.Scores.Flavor  Data.Scores.Sweetness Location.Region
0                  8.50                  10.00  south of minas
1                  8.17                  10.00   vale da grama
2                  8.00                  10.00  south of minas
3                  8.00                  10.00  south of minas
4                  7.92                  10.00  south of minas
..                  ...                    ...             ...
577                7.25                  10.00      san marcos
578                7.42                   9.33      santa rosa
579                7.00                  10.00      ocotepeque
580                7.67                   8.67      san marcos
581                0.00                   0.00       comayagua

[581 rows x 3 columns]

In [9]:
df1.shape[0]

581

### 3. Dataset Exploration

You can find out more information about *how* this datast was collected <a href="https://github.com/rfordatascience/tidytuesday/tree/2e9bd5a67e09b14d01f616b00f7f7e0931515d24/data/2020/2020-07-07">here</a>. Do you think that this dataset is comprised of ALL brands of coffee in existence?

### 4. Choosing a Research Question

Next, based on your dataset you should seek to answer the following question.

```How does the association between `x` and `y` change based on different values of `z` in this dataset?```

*Your `x` and `y` variables in the question above should be `numerical` and your `z` variable should be `categorical`.*

Select your `x`, `y`, and `z` variables and restate your question below using these selected column names.

### 5. Research Motivation

*Who* might be interested in learning the answer to your research question? If you discovered in #3 that your dataset does not represent ALL brands of coffee, what *shortcomings* about your analysis might you want to be explicit about when it comes to communicating your answer to this person?

### 6. Weighing Data Cleaning Choices

When attempting to answer your question in #7 below, you might have discovered that it might be beneficial to perform some preliminary cleaning of your dataset first. This cleaning might involve dropping some particular rows from the dataframe first.

1. Try to think of at least one data cleaning decision that you *could* make. 
2. Then weigh the pros and cons of making vs. not making this data cleaning decision in order to answer your research question. 
3. How might your research motivation be impacted based on your data cleaning decisions?

### 7. Answer the Question

Finally, use the appropriate visualizations and summary statistics that we discussed in class to *thoroughly* answer this question. 

*Recall in class that we discussed 5 things about the association between `x` and `y` that you should **compare** for different values of `z`. You should compare these 5 things for full credit.*

### Contribution Report
These contribution reports should be included in all group lab assignments. In this contribution report below you should list of the following:
1. Names of each team member.
2. Contributions of each team member to report.

*For example:*

*<u>Teammates:</u>*

*1. John Smith: did number 1,2 and 3*

*2. Jane Doe: did number 4, and 5*