# STAT 207 Lab Assignment 3 - Group Part - [9 total points]

This group lab assignment will be atypical in that it is worth 9 points (as opposed to the typical 5).

## <u>Case Study</u>: Association between Two Variables - Controlling for a Third

<p>&nbsp;</p>
<table style="border: none;border-collapse: collapse;width:102pt;">
    <tbody>
        <tr>
            <td style="color:black;font-size:15px;font-weight:700;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:general;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;width:51pt;">Problem</td>
            <td style="color:black;font-size:15px;font-weight:700;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:general;vertical-align:bottom;border:.5pt solid windowtext;border-left:none;width:51pt;">Points</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">2</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">4</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">0.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">5</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">6</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">2</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">7</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">2.5</td>
        </tr>
    </tbody>
</table>

### 1. Coffee Brands Dataset

In this case study we will explore and answer a research question based on the dataset that can be found in the `coffee_top_varieties.csv` file. Each row in this dataset represents a brand of coffee.

Click on this link to learn more about what each of the variables represent. https://corgis-edu.github.io/corgis/csv/coffee/


Then do the following.

1. Read the csv file into a dataframe.
2. Display the first 5 rows.
3. Show the number of rows and columns in the dataframe.

### 2. Missing Value Cleaning

#### 2.1. Implicit Missing Value Inspection

Do you think that there were any implicit missing value strings in this csv file that we did not account for *in our intended numerical variables*? Or in otherwords, could there be some missing values in our intended numerical variables in the dataframe that are NOT represented as a NaN value?

### 2.2. Missing Value Cleaning

1. First create a dataframe that is comprised of just the three variables that you would to explore. **Two should be numerical, and one should be categorical.**. 
2. Then drop all rows from this dataframe that have a NaN value.
3. How many rows did you drop?

### 3. Dataset Exploration

You can find out more information about *how* this datast was collected <a href="https://github.com/rfordatascience/tidytuesday/tree/2e9bd5a67e09b14d01f616b00f7f7e0931515d24/data/2020/2020-07-07">here</a>. Do you think that this dataset is comprised of ALL brands of coffee in existence?

### 4. Choosing a Research Question

Next, based on your dataset you should seek to answer the following question.

```How does the association between `x` and `y` change based on different values of `z` in this dataset?```

*Your `x` and `y` variables in the question above should be `numerical` and your `z` variable should be `categorical`.*

Select your `x`, `y`, and `z` variables and restate your question below using these selected column names.

### 5. Research Motivation

*Who* might be interested in learning the answer to your research question? If you discovered in #3 that your dataset does not represent ALL brands of coffee, what *shortcomings* about your analysis might you want to be explicit about when it comes to communicating your answer to this person?

### 6. Weighing Data Cleaning Choices

When attempting to answer your question in #7 below, you might have discovered that it might be beneficial to perform some preliminary cleaning of your dataset first. This cleaning might involve dropping some particular rows from the dataframe first.

1. Try to think of at least one data cleaning decision that you *could* make. 
2. Then weigh the pros and cons of making vs. not making this data cleaning decision in order to answer your research question. 
3. How might your research motivation be impacted based on your data cleaning decisions?

### 7. Answer the Question

Finally, use the appropriate visualizations and summary statistics that we discussed in class to *thoroughly* answer this question. 

*Recall in class that we discussed 5 things about the association between `x` and `y` that you should **compare** for different values of `z`. You should compare these 5 things for full credit.*

### Contribution Report
These contribution reports should be included in all group lab assignments. In this contribution report below you should list of the following:
1. Names of each team member.
2. Contributions of each team member to report.

*For example:*

*<u>Teammates:</u>*

*1. John Smith: did number 1,2 and 3*

*2. Jane Doe: did number 4, and 5*